.app-header {
    position: sticky;
    top: 0;
    z-index: 50;
    backdrop-filter: saturate(160%) blur(8px);
    -webkit-backdrop-filter: saturate(160%) blur(8px);
    background-color: var(--header-bg);
    border-bottom: 1px solid var(--button-border);
}

.header-inner {
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1;
    color: var(--primary);
    background-image: linear-gradient(90deg, var(--primary), var(--link));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: .5em;
}

.nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav a {
    color: var(--text);
    /* Change nav link color to text */
    text-decoration: none;
    font-weight: 600;
}

.nav a:hover {
    color: var(--primary);
    /* Change hover color to primary */
}

.actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}