.main-content {
    flex: 1;
    padding: 1em;
    background-image: linear-gradient(45deg, #f3f3f3 25%, transparent 25%, transparent 75%, #f3f3f3 75%, #f3f3f3),
        linear-gradient(45deg, #f3f3f3 25%, #ffffff 25%, #ffffff 75%, #f3f3f3 75%, #f3f3f3);
    background-size: 20px 20px;
    background-color: #ffffff;
}

[data-theme='dark'] .main-content {
    background-image: linear-gradient(45deg, #4a4a4a 25%, transparent 25%, transparent 75%, #4a4a4a 75%, #4a4a4a),
        linear-gradient(45deg, #4a4a4a 25%, #3e3e3e 25%, #3e3e3e 75%, #4a4a4a 75%, #4a4a4a);
    background-size: 20px 20px;
    background-color: #3e3e3e;
}